body {
  max-width: 950px;
  font: 300 16px/23px "helvetica neue",arial,sans-serif;
  background: #f8f8f8;
  margin: 30px auto 30px 300px;
}

#navigation {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 200px;
  padding: 30px;
  background-color: rgb(235, 219, 222);
}

#navigation ol {
  padding-left: 20px;
}
